my-module p {
  color: red;
  font-weight: bold;
  font-size: 24px;
}
my-module a {
  color: #2175ff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

my-module blockquote {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  margin: 24px;
  padding: 8px 0px;
}

my-module blockquote h5 {
  margin-top: 16px;
  margin-bottom: 12px;
}

my-module blockquote h5:after {
  display: none;
}

my-module em {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.6);
}

my-module h1,
my-module h2,
my-module h3,
my-module h4,
my-module h5,
my-module h6,
my-module p,
my-module table,
my-module ul,
my-module ol {
  margin-left: 24px;
  margin-right: 24px;
}

my-module h1 {
  font-size: 28px;
  font-weight: normal;
  line-height: 40px;
  margin-top: 40px;
  margin-bottom: 16px;
}

my-module h2 {
  font-size: 22px;
  line-height: 32px;
  margin-top: 40px;
  margin-bottom: 16px;
}

my-module h3 {
  font-size: 18px;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 16px;
}

my-module h4 {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  margin-top: 24px;
  margin-bottom: 16px;
}

my-module h5 {
  font-size: 14px;
  line-height: 24px;
  margin-top: 40px;
  margin-bottom: 24px;
}

my-module h5:after {
  content: "";
  display: block;
  margin-top: 8px;
  width: 16px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.87);
}

my-module hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.04);
}

my-module img {
  width: 100%;
}

my-module li p {
  margin-left: 0;
  margin-right: 0;
}

my-module ol,
ul {
  margin-top: -12px;
  padding-left: 16px;
}

my-module p img {
  border-radius: 8px;
  display: block;
}

my-module table {
  border-collapse: collapse;
  width: calc(100% - 48px);
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 13px;
}

my-module table th,
table td {
  padding: 8px;
}

my-module table th {
  color: #fff;
  background-color: #737795;
  border-bottom: none;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

my-module table th:first-child {
  border-left: 1px solid #737795;
}

my-module table th:last-child {
  border-right: 1px solid #737795;
}

my-module table td {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

my-module table td:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

my-module .carousel {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

my-module .carousel li {
  position: relative;
  flex: 0 0 calc(100% - 48px);
  padding-right: 12px;
}

my-module .carousel li:first-child {
  padding-left: 24px;
}

my-module .carousel li:last-child {
  padding-right: 24px;
}

my-module .carousel li img {
  scroll-snap-align: center;
  border-radius: 8px;
  height: 192px;
  object-fit: cover;
}

my-module .button {
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #2175ff;
  line-height: 56px;
  margin: 24px;
  padding: 0;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  width: calc(100% - 48px);
}
